
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6;
}

/*INDEX*/
header{
    background-color: rgb(23,82,37);
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

nav .logo{
    height: auto;
    width: 60px;
}

nav ul li{
    display: flex;
    gap: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Jost', sans-serif;
}

nav .buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

nav .buscador input{
    padding: 0.25rem;
   
}

nav .buscador ::placeholder{
    color: black;
    padding: 10px;
    background-color: #f6f6f6;
}

nav .buscador img{
    height: auto;
    width: 22px;
    border-radius: 25%;
    padding: 5px;
    background-color: white;

}

nav .carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav .carrito img{
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

nav .carrito .cart{
    margin-left: 15px;
}

nav .carrito span{
    position: absolute;
    top: -0.825rem;
    right: -0.09rem;
    font-size: medium;
    font-weight: 600;
    background-color: #f6f6f6;
    color: black;
    border-radius: 50%;
    
    padding: 2px;
    
}

.nav-hambg-wrapper{
    display: none;
}

.nav-hambg-wrapper span{
    row-gap: 1.5rem;
    height: 10px;
    width: 10px;
    color: rgb(251,200,39);
}
/*HERO MAIN*/

.hero-section{
    background-color: rgb(211, 211, 211);
    max-width: 1800px;
    font-family: "Montserrat", sans-serif;
}
.hero-section .hero-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(211, 211, 211);
    max-width: 100%;
    padding: 20px;
}


.hero-wrapper .hero-titulos p{
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.hero-wrapper .hero-titulos h1{
    font-size: 80px;
    font-weight: 600;
}

.hero-wrapper .hero-titulos h1 span{
    color:   rgb(23,82,37);
}

.hero-wrapper .hero-titulos .hero-titulo-btn{
    margin-top: 30px;
}
.hero-wrapper .hero-titulos .hero-titulo-btn a{
    text-decoration: none;
    color: black;
    background-color: rgb(251,200,39);
    padding: 15px;
    border-radius: 8px;
    
}

/*NOVEDADES*/
.novedades{
    background-color: #f6f6f6;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.novedad-wrapper{
    background-color: #f6f6f6;
    padding: 20px;
}

.novedad-wrapper .novedad-titulo-actions{
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    
}

.flecha-derecha, .flecha-izquierda{
    background-color: rgb(23,82,37);
    padding: 0.75rem;
    border-radius: 50%;
    vertical-align: center;
    cursor: pointer;
}

.flecha-izquierda{
    transform: rotate(-0.25turn);
}

.flecha-derecha{
    transform: rotate(90deg);
}

.novedades-cards{
    display: flex;
    flex-direction: row;
}

.novedad-img{
    height: 80px;
    width: 80px;
}

.novedad-btn{
    display: flex;
    flex-direction: row;
}
/*! TIENDA*/
.header-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgb(23,82,37);
    max-height: 1vh;
}

.header-contenedor h1{
    font-weight: 600;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    color: black;
}

.header-contenedor .buscador{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.header-contenedor .buscador  input{
    max-width: 500px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}

.header-contenedor .buscador input::placeholder{
    color: black;
}

.header-contenedor .buscador img{
    width: 20px;
    height: 20px;
    background-color: lightgray
}

.header-contenedor .iconos-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contenedor .iconos-header i{
    font-size: 25px;
    cursor: pointer;
    margin-right: 30px;
}

.marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251,200,39);
    padding: 0.5rem;
    gap: 10px;
}

.marcas :second-child{
    height: 55px;
    width: 30px;
}

.main-tienda{
    background-color: rgb(245,245,245);
    padding: 40px;
}

.main-tienda section .sneakers-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
}

.main-tienda section .sneakers-wrapper .aside{
    
    grid-column: 1 span 2;
    height: 500px;
    padding: 10px;
    box-shadow: -3px 2px 12px 0px rgba(0,0,0,1);
-webkit-box-shadow: -3px 2px 12px 0px rgba(0,0,0,1);
-moz-box-shadow: -3px 2px 12px 0px rgba(0,0,0,1);
}

main section .sneakers-wrapper .aside h4{
    font-family: "Jost", sans-serif;
    margin-bottom: 5px;
}

main section .sneakers-wrapper .aside span{  
    font-family: "Jost", sans-serif;
}

main section .sneakers-wrapper .cards{
    grid-column-start: 2 ;
    grid-column-end: 6;
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

main section .sneakers-wrapper .cards .card-contenido{
    border: 2px solid black;
    width: 20%;
    height: 200px;
}
@media  screen and (max-width: 770px) {
    .hero-section img{
        width: fit-content;
    }
}